
.cigDiv {
	height: 500px;
}

.back {
	background-color: white;
	height: 320px;
	width: 300px;

	position: absolute;

	left: 50px;
	top: 10px;
}

.cigCaseCover {
	background-image: url("./../../assets/img/cigcasecover.png");
	background-size: 350px;
	background-position: center;

	height: 450px;
	width: 350px;

	position: absolute;
}

.cigCase {
	background-image: url("./../../assets/img/cigcasescreen.png");
	background-size: 360px;
	background-position: center;

	height: 450px;
	width: 360px;

	position: absolute;
}

.charModel {
	height: 280px;
	width: 230px;

	margin: auto;

	position: absolute;

	left: 75px;
	top: 40px;
}

#btnHome {
	background-color: rgba(0,0,0,0);
	border-width: 0;

	width: 70px;
	height: 50px;

	position: absolute;

	top: 345px;
	left: 55px;
}
#btnLeft {
	background-color: rgba(0,0,0,0);
	border-width: 0;

	width: 70px;
	height: 50px;

	position: absolute;

	top: 345px;
	left: 145px;
}
#btnRight {
	background-color: rgba(0,0,0,0);
	border-width: 0;

	width: 70px;
	height: 50px;

	position: absolute;

	top: 345px;
	left: 235px;
}
/* movethistomaincss */
.textCon {
	background-color: #2a2725;
	border-color: #837768;
	border-style: solid;
	border-width: 3px;
	border-radius: 8px;

	padding: 30px;
}
.desc {
	color: white;
	font-weight: bold;
	font-size: 1.5em;

	/*background-image: url("./../../assets/img/desccontainer.png");*/
	background-size: 100% 100%;
	display: none;

	position: absolute;
	right: 0;
	bottom: 0;

	z-index: 50;
}
.folder {
	background-color: #F8D775;
	border-radius: 0 15px 0 0;

	padding: 30px;
}
.folder > div {
	color: black;
	background-color: #EEEEFA;

	padding: 30px;
}
.fRow {
	color: black;
	border-bottom: solid black 1px;
}
.fHeader {
	font-size: 1.2em;
	font-weight: bold;

	padding-top: 5px;
}
/* movethistomaincss */
.itemTabContainer {
	display: flex;
	flex-direction: row;

	position: absolute;
}
.itemTab {
	color: #BBBBBB;
	background-color: #0a0705;

	border-color: #837768;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px 15px 0 0;

	margin-right: 5px;

	height: 50px;

	cursor: pointer;

	z-index: 5;
}
.itemTab > span {
	font-size: 1.5em;
	padding: 10px 40px;

	cursor: pointer;
}
.iActive {
	color: #FFFFFF;
	background-color: #2a2725;
	border-bottom-width: 0;
}
.itemContainer {
	display: none;
	background-color: #2a2725;

	border-color: #837768;
	border-style: solid;
	border-width: 3px;
	border-radius: 0 8px 8px 8px;

	z-index: 10;
}
.icActive {
	display: block;
}
.ic100 {
	width: 100%;
}
.icpContainer {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 0;
}
.icpActive {
	display: flex;
}
.itemBox {
	background-color: #3c362f;
	border-color: #3c362f;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;

	margin: 5px;
}
.itemBox:hover {
	border-color: #837768;
}
.pageContainer {
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	padding: 10px 30px 25px 30px;
}
.btnPage {
	background-color: #837768;
	border-radius: 10px;

	font-size: 1em;

	width: 45px;
	margin: 5px;
	padding: 0 5px;
}
.btnPage:hover {
	background-color: #3c362f;
}
.btnpActive {
	background-color: #3c362f;
}

.textInactive {
	color: #837768;
}
